<div class="row order-container">
    @foreach (Order order in Orders)
    {
        <div class="card shadow">
            <div style="background: @order.GetColor(); width: 100%; color: white; text-align: center; padding: 5px">
                <label style="margin: auto">@order.GetStatus()</label>
            </div>
            <div class="card-body">
                <h5 class="card-title">@order.DateCreated (@order.AutoId)</h5>
                <p class="card-text"><b>Клиент:</b>
                    <br/> @order.ClientLastName @order.ClientFirstName @order.ClientMiddleName</p>
                <p class="card-text">
                    <b>Номер телефона:</b> <br/>
                    @order.ClientPhone
                </p>
                <div class="d-flex justify-content-end">
                    <a
                        href="order/@order.Id"
                        class="btn btn-outline-primary">Подробнее</a>
                </div>
            </div>
        </div>
    }
</div>

@code
{
    [Parameter] public List<Order> Orders { get; set; }
}
