@page "/update-auto/{Vin}/{IsView:bool}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
<PageTitle>Информация об авто</PageTitle>
@attribute [Authorize("StaffOnly")]

<div class="page-container">
    @if (_isLoaded)
    {
        <h3 class="mb-4 text-center">
            @(IsView ? "Просмотр авто" : "Редактирование авто")
        </h3>
        @if (!IsView)
        {
            <AuthorizeView Policy="AdminOnly">
                <Authorized>
                    <a class="btn btn-outline-primary" style="margin-bottom: 5px" href="update-auto/@Vin/true">👀 Просмотр</a>
                    @* <button class="btn-outline-primary btn" *@
                    @*         @onclick="OpenView">👀 Просмотр</button> *@

                    <form name="update-auto"
                          @onsubmit="Save">

                        <div class="form-div">
                            <div style="margin: 5px"
                                 class="form-group">
                                <label for="vin">VIN</label>
                                <input type="text"
                                       class="form-control"
                                       required
                                       maxlength="17"
                                       @bind="_auto.Vin"/>
                            </div>

                            <div style="margin: 5px"
                                 class="form-group">
                                <label for="year">Год</label>
                                <input type="number"
                                       class="form-control"
                                       required
                                       maxlength="4"
                                       @bind="_auto.Year"/>
                            </div>

                            <div style="margin: 5px"
                                 class="form-group">
                                <label for="engine">Двигатель</label>
                                <input type="text"
                                       class="form-control"
                                       required
                                       maxlength="17"
                                       @bind="_auto.Engine"/>
                            </div>

                            <div style="margin: 5px"
                                 class="form-group">
                                <label for="body">Кузов</label>
                                <input type="text"
                                       class="form-control"
                                       required
                                       maxlength="17"
                                       @bind="_auto.Body"/>
                            </div>

                            <div style="margin: 5px"
                                 class="form-group">
                                <label for="color">Цвет</label>
                                <input type="color"
                                       class="form-control form-control-color"
                                       required
                                       @bind="_auto.Color"/>
                            </div>

                            <div style="margin: 5px"
                                 class="form-group">
                                <label for="number">Гос номер</label>
                                <input type="text"
                                       class="form-control"
                                       @bind="_auto.GovNumber"/>
                            </div>

                            <div style="margin: 5px"
                                 class="form-group">
                                <label for="passport">Номер паспорта</label>
                                <input type="text"
                                       class="form-control"
                                       required
                                       @bind="_auto.Passport"/>
                            </div>

                            <div style="margin: 5px"
                                 class="form-group">
                                <label for="date">Дата выдачи</label>
                                <input type="date"
                                       class="form-control"
                                       required
                                       @bind="_auto.PassportDated"/>
                            </div>

                            <div style="margin: 5px"
                                 class="form-group">
                                <label for="full_price">Полная стоимость</label>
                                <input type="number"
                                       class="form-control"
                                       required
                                       @bind="_auto.FullPrice"/>
                            </div>

                            <div style="margin: 5px"
                                 class="form-group">
                                <label for="rent_price">Стоимость аренды (1 сутки)</label>
                                <input type="number"
                                       class="form-control"
                                       required
                                       @bind="_auto.RentPrice"/>
                            </div>

                            <div style="margin: 5px"
                                 class="form-group">
                                <label for="model">Модель</label>
                                <select name="model"
                                        class="form-control">
                                    @foreach (var model in _models)
                                    {
                                        <option value="@model.Id">@model.Name (@model.Brand.Name)</option>
                                    }
                                </select>
                            </div>

                            <div style="margin: 5px"
                                 class="form-group">
                                <label for="">Фото</label>
                                <input class="form-control"
                                       type="file"/>
                            </div>
                        </div>

                        <button type="submit"
                                class="btn btn-primary"
                                style="width: 99%; margin-left: 0.5%">Сохранить
                        </button>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <h5>У вас нет прав на редактирование</h5>
                </NotAuthorized>
            </AuthorizeView>
        }
        else
        {
            <AuthorizeView Policy="AdminOnly">
                <a class="btn btn-outline-primary" style="margin-bottom: 5px" href="update-auto/@Vin/false">✏️ Редактировать</a>
                @* <button class="btn-outline-primary btn" *@
                @*         @onclick="OpenEdit">✏️ Редактировать</button> *@
            </AuthorizeView>
            <div class="form-div">
                <p><strong>VIN:</strong> @_auto.Vin</p>
                <p><strong>Год:</strong> @_auto.Year</p>
                <p><strong>Двигатель:</strong> @_auto.Engine</p>
                <p><strong>Кузов:</strong> @_auto.Body</p>
                <p><strong>Цвет:</strong> @_auto.Color</p>
                <p><strong>Номер паспорта:</strong> @_auto.Passport</p>
                <p><strong>Дата выдачи:</strong> @_auto.PassportDated</p>
                <p><strong>Полная стоимость:</strong> @_auto.FullPrice</p>
                <p><strong>Стоимость аренды (1 сутки):</strong> @_auto.RentPrice</p>
                <p><strong>Модель:</strong> @_auto.Model.Name</p>
            </div>
        }
    }
    else
    {
        <h5>Загрузка...</h5>
    }
</div>