@page "/order/{Id:long}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@rendermode InteractiveServer
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize("StaffOnly")]

<PageTitle>Работа с заявкой</PageTitle>

@if (isLoaded)
{
    <div class="order-details">
        <h3 class="order-title">Заявка #@Id</h3>

        <div style="display: grid; grid-template-columns: 1fr 1fr;grid-gap: 10px">
            <div>
                <div class="order-card">
                    <h4 class="card-title">Информация о клиенте</h4>
                    <p><strong>Фамилия:</strong> @_order.ClientLastName</p>
                    <p><strong>Имя:</strong> @_order.ClientFirstName</p>
                    <p><strong>Отчество:</strong> @_order.ClientMiddleName</p>
                </div>

                <div class="order-card">
                    <h4 class="card-title">Информация об автомобиле</h4>
                    <p><strong>Марка:</strong> @_order.Auto.Model.Brand.Name</p>
                    <p><strong>Модель:</strong> @_order.Auto.Model.Name (@_order.Auto.Year)</p>
                    <p><strong>VIN номер автомобиля:</strong> <a
                            href="auto/@_order.AutoId/true">@_order.AutoId</a>
                    </p>
                </div>

                <div class="order-card">
                    <h4 class="card-title">Детали заявки</h4>
                    <p><strong>Дата создания:</strong> @_order.DateCreated</p>
                    <p><strong>Срок аренды:</strong> @_order.DateStartRent - @_order.DateEndRent (@_days дней)</p>
                    <p><strong>Стоимость:</strong> @_price руб</p>
                </div>
            </div>
            <div>
                <div class="order-card">
                    <h4 class="card-title">История заявки</h4>
                    <table>
                        <tr>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Статус</th>
                            <th>Сотрудник</th>
                        </tr>
                        @foreach (var item in _histories)
                        {
                            <tr>
                                <td>@item.Date</td>
                                <td>@item.Time</td>
                                <td>@item.Status.Name</td>
                                <td>
                                    @if (item.Employee != null)
                                    {
                                        <label>@item.Employee.LastName @item.Employee.FirstName</label>
                                    }
                                    else
                                    {
                                        <label>Система</label>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="order-card">
                    <h4 class="card-title">Действия</h4>
                    @switch (_availableActions)
                    {
                        case 1:
                            <button
                                @onclick="RejectOrder"
                                class="btn btn-danger">Отказать
                            </button>
                            <button
                                @onclick="AccessOrder"
                                class="btn btn-primary">В работе
                            </button>
                            break;
                        case 2:
                            <button
                                @onclick="CancelOrder"
                                class="btn btn-danger">Отменить
                            </button>
                            <a
                                href="rent/order=@_order.Id"
                                class="btn btn-success">Оформить аренду
                            </a>
                            break;
                        case 3:
                            <a
                                href="rent/order=@_order.Id"
                                class="btn btn-success">Просмотр аренды
                            </a>
                            break;
                        default:
                            <label>Заявка закрыта</label>
                            break;
                    }
                </div>
            </div>
        </div>
    </div>
}
