@page "/orders"
@using CarRentSolution.Entity

@rendermode InteractiveServer

<PageTitle>Заявки</PageTitle>

<div class="container my-5">
    <div class="row mb-4">
        <div class="col-12">
            <h3>Заявки</h3>
        </div>
    </div>

    @if (isLoaded)
    {
        <div class="row mb-4">
            <div class="col-md-6 mb-3 mb-md-0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Поиск" @bind="search"/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" @onclick="LoadOrders">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <select class="form-control" @bind="statusId">
                        <option value="0" selected>Все</option>
                        @foreach (var item in _orderStatusList)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary" @onclick="LoadOrders">
                            <i class="fas fa-filter"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div style="margin-top: 5px">
                <div class="input-group">
                    <select class="form-control" @bind="autoId">
                        <option value="Все" selected>Все</option>
                        @foreach (var item in _autos)
                        {
                            <option value="@item.Vin">
                                @item.Vin (@item.Model.Brand.Name @item.Model.Name)
                            </option>
                        }
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary" @onclick="LoadOrders">
                            <i class="fas fa-filter"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row cars-container">
            @foreach (Order order in _orders)
            {
                <div class="col-md-5 mb-4">
                    <div class="card h-100 shadow">
                        <div class="card-body">
                            <h5 class="card-title">@order.DateCreated (@order.AutoId)</h5>
                            <p class="card-text">Клиент:
                                <br/> @order.ClientLastName @order.ClientFirstName @order.ClientMiddleName</p>
                            <p class="card-text">Телефон: <br/>@order.ClientPreviewPhone</p>
                            <div class="d-flex justify-content-end">
                                <a href="#" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <div class="row">
        <div class="col-12 text-center">
            <p style="color: #7f7f7f">Найдено @_orders.Count из @_totalCount заявок</p>
        </div>
    </div>
</div>
