@page "/orders"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize("StaffOnly")]

@rendermode InteractiveServer

<PageTitle>Заявки</PageTitle>

<div class="container my-2">
    <div class="row mb-4">
        <h3>Заявки</h3>
    </div>

    @if (isLoaded)
    {
        <div class="row mb-4">
            <div class="col-md-6 mb-3 mb-md-0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Поиск" @bind="search"/>
                    <div class="input-group-append">
                        <button class="btn btn-primary" @onclick="LoadOrders">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <select class="form-control" @bind="statusId">
                        <option value="0" selected>Все статусы</option>
                        @foreach (var item in _orderStatusList)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary" @onclick="LoadOrders">
                            <i class="fas fa-filter"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div style="margin-top: 5px">
                <div class="input-group">
                    <select class="form-control" @bind="autoId">
                        <option value="Все" selected>Все автомобили</option>
                        @foreach (var item in _autos)
                        {
                            <option value="@item.Vin">
                                @item.Vin (@item.Model.Brand.Name @item.Model.Name)
                            </option>
                        }
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary" @onclick="LoadOrders">
                            <i class="fas fa-filter"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row order-container">
            @foreach (Order order in _orders)
            {
                <div class="card shadow">
                    <div style="background: @order.GetColor(); width: 100%; color: white; text-align: center; padding: 5px">
                        <label style="margin: auto">@order.GetStatus()</label>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@order.DateCreated (@order.AutoId)</h5>
                        <p class="card-text"><b>Клиент:</b>
                            <br/> @order.ClientLastName @order.ClientFirstName @order.ClientMiddleName</p>
                        <p class="card-text">
                            <b>Номер телефона:</b> <br/>
                            @order.ClientPhone
                        </p>
                        <div class="d-flex justify-content-end">
                            <a
                                href="order/@order.Id"
                                class="btn btn-outline-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <p></p>
    <p style="color: #7f7f7f; text-align: center; margin: 5px">Найдено @_orders.Count из @_totalCount заявок</p>
</div>
